In [1]:
import pandas as pd

In [7]:
baker = pd.read_csv("noaa_csv/Baker 2008_2020 NOAA.csv")
benton = pd.read_csv("noaa_csv/Benton 2008_2020 NOAA.csv")
clatsop = pd.read_csv("noaa_csv/Clatsop 2008_2020 NOAA.csv")
columbia = pd.read_csv("noaa_csv/columbia 2008_2020 NOAA.csv")
gilliam = pd.read_csv("noaa_csv/Gilliam 2008_2020 NOAA.csv")
grant = pd.read_csv("noaa_csv/Grant 2008_2020 NOAA.csv")
harney = pd.read_csv("noaa_csv/Harney 2008_2020 NOAA.csv")
hood_river = pd.read_csv("noaa_csv/Hood River 2008_2020 NOAA.csv")
josephine = pd.read_csv("noaa_csv/Josephine 2008_2020 NOAA.csv")
klamath = pd.read_csv("noaa_csv/Klamath 2008_2020 NOAA.csv")
lake = pd.read_csv("noaa_csv/Lake 2008_2020 NOAA.csv")
malheur = pd.read_csv("noaa_csv/malheur 2008_2020 NOAA.csv")
morrow = pd.read_csv("noaa_csv/Morrow 2008_2020 NOAA.csv")
polk = pd.read_csv("noaa_csv/Polk 2008_2020 NOAA.csv")
tillamook = pd.read_csv("noaa_csv/Tillamook 2008_2020_NOAA.csv")
union = pd.read_csv("noaa_csv/Union 2008_2020 NOAA.csv")
wallowa = pd.read_csv("noaa_csv/Wallowa 2008_2020 NOAA.csv")
wasco = pd.read_csv("noaa_csv/Wasco 2008_2020 NOAA.csv")
washington = pd.read_csv("noaa_csv/Washington 2008_2020 NOAA.csv")
wheeler = pd.read_csv("noaa_csv/Wheeler 2008_2020 NOAA.csv")
yamhill = pd.read_csv("noaa_csv/yamhill 2008_2020 NOAA.csv")

In [8]:
noaa_df = baker

In [11]:
noaa_df = noaa_df.append(benton)
noaa_df = noaa_df.append(clatsop)
noaa_df = noaa_df.append(columbia)
noaa_df = noaa_df.append(gilliam)
noaa_df = noaa_df.append(grant)
noaa_df = noaa_df.append(harney)
noaa_df = noaa_df.append(hood_river)
noaa_df = noaa_df.append(josephine)
noaa_df = noaa_df.append(klamath)
noaa_df = noaa_df.append(lake)
noaa_df = noaa_df.append(malheur)
noaa_df = noaa_df.append(morrow)
noaa_df = noaa_df.append(polk)
noaa_df = noaa_df.append(tillamook)
noaa_df = noaa_df.append(union)
noaa_df = noaa_df.append(wallowa)
noaa_df = noaa_df.append(wasco)
noaa_df = noaa_df.append(washington)
noaa_df = noaa_df.append(wheeler)
noaa_df = noaa_df.append(yamhill)

In [12]:
noaa_df

,STATION,NAME,COUNTY,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,DAPR,FMTM,...,Unnamed: 33,Unnamed: 34,PSUN,TSUN,WT04,MDSF,WT10,SN52,SX52,DASF
0,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.757800,-117.971100,2004.4,1/1/2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.757800,-117.971100,2004.4,1/2/2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.757800,-117.971100,2004.4,1/3/2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.757800,-117.971100,2004.4,1/4/2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USR0000OECK,"ELK CREEK OREGON, OR US",BAKER,44.757800,-117.971100,2004.4,1/5/2008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68814,US1ORYM0028,"MCMINNVILLE 0.5 WNW, OR US",YAMHILL,45.213100,-123.200300,46.3,12/31/20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68815,US1ORYM0005,"MCMINNVILLE 0.6 W, OR US",YAMHILL,45.210620,-123.204040,41.8,12/31/20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68816,US1ORYM0004,"YAMHILL 1.1 NNW, OR US",YAMHILL,45.356220,-123.190190,61.0,12/31/20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68817,US1ORYM0025,"YAMHILL 4.4 NNW, OR US",YAMHILL,45.395206,-123.232909,107.0,12/31/20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68818,US1ORYM0001,"GASTON 3.2 SW, OR US",YAMHILL,45.400000,-123.183000,89.9,12/31/20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print(noaa_df.columns)

Index(['STATION', 'NAME', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'DATE', 'AWND', 'DAPR', 'FMTM', 'MDPR', 'PGTM', 'PRCP', 'SNOW', 'SNWD',
       'TAVG', 'TMAX', 'TMIN', 'TOBS', 'WDF2', 'WDF5', 'WESD', 'WESF', 'WSF2',
       'WSF5', 'WT01', 'WT02', 'WT03', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09',
       'WT11', 'WT13', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22', 'EVAP', 'MNPN',
       'MXPN', 'SN31', 'SN32', 'SN33', 'SN35', 'SX31', 'SX32', 'SX33', 'SX35',
       'SX36', 'WDMV', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'PSUN', 'TSUN', 'WT04', 'MDSF', 'WT10', 'SN52', 'SX52',
       'DASF'],
      dtype='object')

In [16]:
noaa_df = noaa_df.drop(columns=['Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34'], axis=1)

In [17]:
print(noaa_df.columns)

Index(['STATION', 'NAME', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'DATE', 'AWND', 'DAPR', 'FMTM', 'MDPR', 'PGTM', 'PRCP', 'SNOW', 'SNWD',
       'TAVG', 'TMAX', 'TMIN', 'TOBS', 'WDF2', 'WDF5', 'WESD', 'WESF', 'WSF2',
       'WSF5', 'WT01', 'WT02', 'WT03', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09',
       'WT11', 'WT13', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22', 'EVAP', 'MNPN',
       'MXPN', 'SN31', 'SN32', 'SN33', 'SN35', 'SX31', 'SX32', 'SX33', 'SX35',
       'SX36', 'WDMV', 'PSUN', 'TSUN', 'WT04', 'MDSF', 'WT10', 'SN52', 'SX52',
       'DASF'],
      dtype='object')

In [22]:
noaa_df.to_csv("noaa_csv/noaa_data2.csv", index=False)

In [19]:
noaa_data_original = pd.read_csv("noaa_csv/archive/noaa_data.csv")

In [21]:
print(noaa_data_original.columns)

Index(['STATION', 'NAME', 'COUNTY', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'DATE', 'AWND', 'DAPR', 'FMTM', 'MDPR', 'PGTM', 'PRCP', 'SNOW', 'SNWD',
       'TAVG', 'TMAX', 'TMIN', 'TOBS', 'WDF2', 'WDF5', 'WESD', 'WESF', 'WSF2',
       'WSF5', 'WT01', 'WT02', 'WT03', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09',
       'WT11', 'WT13', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22', 'EVAP', 'MNPN',
       'MXPN', 'SN31', 'SN32', 'SN33', 'SN35', 'SX31', 'SX32', 'SX33', 'SX35',
       'SX36', 'WDMV', 'PSUN', 'TSUN', 'MDSF', 'WT04', 'WT10', 'SN52', 'SX52',
       'DASF'],
      dtype='object')